@import "tailwindcss";

.modalCollectionOrder-container{
    @apply fixed inset-0 flex items-center justify-center z-15; 
    background: rgb(0 0 0 / 80%);
}

.modalCollectionOrder-wrapper{
    background: var(--bg-color-3);
    border-radius: 10px;
    padding: 25px 50px;
    width: 862px;
    height: fit-content;
}   

.modalCollectionOrder-header{
    @apply flex justify-between items-center mb-4;
}

.modalCollectionOrder-title{
    color: var(--text-color-3);
    font-size: 16px;
    font-weight: 600;
}

.modalCollectionOrder-button-close{
    padding: 0;
}

.modalCollectionOrder-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: start;
}

.modalCollectionOrder-label{
    font-size: 13px;
    font-weight: 500;
}

.modalCollectionOrder-label-value{
    font-size: 12px;
    font-weight: 400;
}

.modalCollectionOrder-actions{
    margin-top: 24px;
    display: flex;
    gap: 10px;
}

.modalCollectionOrder-container form{
    margin-top: 20px;
}

.collectionOrder-notes{
    display: flex;
    flex-direction: column;
}

.modalCollectionOrder-header-actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.collectionOrder-notes textarea{
    width: 100%;
    height: 94px;
    min-height: 30px;
    border: solid 1px var(--bg-color-2);
    border-radius: 7px;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-1);
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 3px;
}

.collectionOrder-notes label{
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color-1);
    display: block;
}

.collectionOrder-customer,
.modalCollectionOrder-no-data{
    color: var(--text-color-3);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.modalCollectionOrder-content .table-tr :nth-child(1){
    width: 15px;
}

.modalCollectionOrder-select-all{
    padding-left: 17px;
    align-content: center;
}

.modalCollectionOrder-select-all input{
    width: 16px;
}

.modalCollectionOrder-select-all label{
    display: flex;
    font-size: 12px;
    gap: 10px;
    text-transform: uppercase;
}

.collectionOrder-cycles-table-container{
    margin-bottom: 30px;
}

.modalCollectionOrder-content .form-checkbox{
    margin-top: 0;
}