.clientComodato-actions-container{
    background: var(--bg-color-3);
    border-radius: 12px;
    border: solid 1.5px var(--bg-color-2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 50px;
}

.clientComodato-new-button{
    align-self: flex-end;
}

.clientComodato-actions-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.clientComodato-title{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color-3);
    margin-bottom: 13px;
}


