.clientPaymentCycle-table-container,
.clientPaymentCycle-summary {
  width: 100% !important;
  padding-right: 0 !important;
}

.clientPaymentCycle-content {
  flex-direction: column;
}

.clientPaymentCycle-modal-subtitle {
  color: var(--text-color-3);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.clientPaymentCycle-wrapper {
  width: 1100px;
}

.clientPaymentCycle-summary {
  margin-top: 30px;
}

.clientPaymentCycle-actions {
  align-items: center;
  display: flex;
}
