.modalCancelledSubscription-title{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color-3);
    margin-bottom: 13px;
}

.modalCancelledSubscription-wrapper{
    width: 75%;
}

.modalCancelledSubscription-button-close{
    padding: 0;
}


