.dashboard-page-button-direction{
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color-3);
    border: solid 1px var(--acent-color-1);
    border-radius: 6px;
    background: #F0EFFF;
    width: 145px;
    margin-top: 10px;
}

.dashboard-page-button-direction-icon{
    scale: 0.65;
}

.dashboard-page-table-container{
    width: 100%;
    padding: 10px;
    background-color: var(--bg-color-3);
    margin-bottom: 20px;
    border-radius: 12px;
    border: solid 1.5px var(--bg-color-2);
}

.dashboard-page-table-container-2{
    width: 50%;
    align-self: self-start;
}

.dashboard-page-table-title{
    font-size: 20px;
    font-weight: 500;
}

.dashboard-orders-table-container,
.dashboard-deliveries-table-container{
    border: none;
    border-bottom: solid 1.5px var(--bg-color-2);
    border-radius: 0;
    margin: 1px;
}

.dashboard-page-new-client-button,
.dashboard-page-new-order-button{
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color-2);
    border-radius: 6px;
    padding: 11px 18px;
    width: 135px;
}

.dashboard-page-new-client-button{
    background: var(--acent-color-1);
}

.dashboard-page-new-order-button{
    background: var(--acent-color-2);
}

.dashboard-page-buttons-container{
    align-self: self-end;
    gap: 20px;
    margin-bottom: 30px;
    display: flex;
}

.dashboard-orders-table-th,
.dashboard-deliveries-table-th{
    display: none;
}

.dashboard-orders-table-tr:nth-child(1),
.dashboard-deliveries-table-tr:nth-child(1){
    border-top: none;
}

.table-scroll {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 20px;
}