.profile-page {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.profile-page-content-container{
  display: flex;
  gap: 3%;
}

.profile-page-header-container{
  margin-bottom: 20px;
}

.profile-page-header{
  display: flex;
  align-items: center;
}

.profile-page-header-title{
  font-size: 20px;
  font-weight: 400;
}

.profile-page-header-close-button{
  padding: 0;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.profile-left {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  aspect-ratio: 0.85;
  border-radius: 12.5px;
  object-fit: cover;
  margin-bottom: 24px;
}

.profile-logout-btn {
  padding: 8px 24px;
  background: #E2E0FF;
  color: var(--text-color-3);
  border: solid 1px var(--text-color-3);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  width: 80%;
  justify-content: center;
}

.profile-logout-icon{
    margin-right: 10px;
    scale: 0.8;
}

.profile-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profile-section {
  background: #FFFFFF;
  padding: 25px 30px; 
  border-radius: 12px;
  border: solid 1px #DEDEDE;
}

.profile-section strong,
.profile-section label{
    font-size: 12px;
    font-weight: 500;
}

.profile-section p,
.profile-section input{
    font-size: 14px;
    font-weight: 400;
    border: solid 1px #DEDEDE;
    border-radius: 6px;
    padding: 2px 20px;
    margin-top: 3px;
}

.profile-section label{
    width: 32%;
    align-content: end;
}

.profile-section h2 {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color-3);
}

.profile-information-fields{
    display: flex;
    gap: 2%;
}

.profile-information-fields div{
    width: 32%;
}

.profile-fields {
  display: flex;
  gap: 2%;
}

.profile-input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

.profile-change-btn-container{
  width: 32%;
  align-content: end;
}

.profile-change-btn {
  color: var(--text-color-2);
  background: var(--acent-color-1);
  width: 100% !important;
  align-self: end;
}

.profile-error {
  color: var(--acent-color-3);
}

.profile-success {
  color: green;
}

.profile-error,
.profile-success{
  font-size: 12px;
  align-self: end;
  font-weight: 500;
  margin-bottom: 2px;
}