@import "tailwindcss";

.new-page-container{
    @apply mx-auto;
}

.new-page-header{
    @apply flex items-center;
    margin-bottom: 30px;
}

.new-page-button-cancel{
    @apply flex items-center;
    padding: 0px;
    margin-right: 5px;
}

.new-page-title{
    font-size: 20px;
    font-weight: 400;
}
