.route-sheet-page-header{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.routeSheet-form{
    background: var(--bg-color-3);
    border: solid 1.5px var(--bg-color-2);
    padding: 30px;
    border-radius: 12px;
}

.routeSheet-form-header-container{
    display: flex;
    justify-content: space-between;
}


.routeSheet-form-header-content{
    display: flex;
    gap: 20px;
}

.routeSheet-form-header-content select{
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color-3);
    width: fit-content;
    min-width: 110px;
    height: 28px;
    border: solid 1.5px;
    border-radius: 6px;
    padding-left: 10px;
}

.routeSheet-form-notes{
    display: block;
}

.routeSheet-form-notes textarea{
    width: 100%;
    height: 94px;
    min-height: 30px;
    border: solid 1px var(--bg-color-2);
    border-radius: 7px;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-1);
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 3px;
}

.routeSheet-form-notes label{
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color-1);
    display: block;
}

.routeSheet-form-button-submit{
    justify-self: end;
}


.routeSheet-form .table-container{
    border: none;
}


.routeSheet-form .table-tr :nth-child(1){
    width: 15px;
}

.routeSheet-form-header-content select {
  /* Aumenta el padding para que la flecha tenga espacio */
  padding-right: 32px !important;
  /* Para navegadores modernos: mueve la flecha 3px a la derecha */
  background-position: right 13px center;
}

.routeSheet-form-header-content select::-webkit-input-placeholder { color: inherit; }
.routeSheet-form-header-content select::-ms-expand {
  right: 3px;
}

.routeSheet-form-header-content select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L5 5L9 1' stroke='%23666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-size: 10px 6px;
  background-position: right 13px center; /* 10px (flecha) + 3px extra */
}


.routeSheet-zone-form{
    border: solid 1.5px var(--text-color-3) !important;
    border-radius: 6px !important;
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color-3);
}