.route-sheet-page-header{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.routeSheet-form{
    background: var(--bg-color-3);
    border: solid 1.5px var(--bg-color-2);
    padding: 30px;
    border-radius: 12px;
}

.routeSheet-form-header-container{
    display: flex;
    justify-content: space-between;
}


.routeSheet-form-header-content{
    display: flex;
    gap: 20px;
}

.routeSheet-form-header-content select{
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color-3);
    width: fit-content;
    min-width: 110px;
    height: 28px;
    border: solid 1.5px;
    border-radius: 6px;
    padding-left: 10px;
}

.routeSheet-form-notes{
    display: block;
}

.routeSheet-form-notes textarea{
    width: 100%;
    height: 94px;
    min-height: 30px;
    border: solid 1px var(--bg-color-2);
    border-radius: 7px;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-1);
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 3px;
}

.routeSheet-form-notes label{
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color-1);
    display: block;
}

.routeSheet-form-button-submit{
    justify-self: end;
}


.routeSheet-form .table-container{
    border: none;
}


.routeSheet-form .table-tr :nth-child(1){
    width: 15px;
}

.routeSheet-form-header-content select {
  /* Aumenta el padding para que la flecha tenga espacio */
  padding-right: 32px !important;
  /* Para navegadores modernos: mueve la flecha 3px a la derecha */
  background-position: right 13px center;
}

.routeSheet-form-header-content select::-webkit-input-placeholder { color: inherit; }
.routeSheet-form-header-content select::-ms-expand {
  right: 3px;
}

.routeSheet-form-header-content select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L5 5L9 1' stroke='%23666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-size: 10px 6px;
  background-position: right 13px center; /* 10px (flecha) + 3px extra */
}

.routeSheet-zone-form{
    border: solid 1.5px var(--text-color-3) !important;
    border-radius: 6px !important;
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color-3);
    padding: 2px 10px !important;
}

.routeSheet-zone-form-field{
    display: flex !important;
    flex-direction: row !important;
    gap: 0;
    width: 100% !important;
}

.routeSheet-zone-form-field .css-b62m3t-container{
    margin: 0;
    width: 100%;
}

.routeSheet-zone-form-field .required-mark{
    display: none;
}

.routeSheet-zone-form-label{
    font-size: 11px !important;
    font-weight: 500 !important;
    align-content: center;
}

.routeSheet-zone-form-field .item-form-react-multi-select__control{
    min-height: 6px !important;
    height: fit-content;
    align-items: flex-start;
    box-shadow: none;
    border: none;
}

.routeSheet-zone-form-field .item-form-react-multi-select__value-container{
    padding: 0 5px 0 8px;
    align-items: flex-start;
    height: 22px;
    min-height: 0;
}

.routeSheet-zone-form-field .item-form-react-multi-select__multi-value{
    margin: 0 2px;
    border: solid 1px var(--acent-color-1);
    border-radius: 6px;
    background: transparent;
    color: var(--acent-color-1);
}

.routeSheet-zone-form-field .css-9jq23d{
    font-size: 10px;
    padding: 2.5px 6px;
    color: var(--acent-color-1);
}

.routeSheet-zone-form-field .item-form-react-multi-select__indicators{
    height: 21px;
}

.routeSheet-zone-form-field .item-form-react-multi-select__input-container{
    margin: 0 2px;
}

.routeSheet-zone-form-field .item-form-react-multi-select__placeholder{
    align-self: center;
    font-size: 11px;
}

.routeSheet-zone-form-field .item-form-react-multi-select__indicator-separator{
    margin: 0 2px;
    background-color: var(--acent-color-1) !important;
}

.routeSheet-zone-form-field .item-form-react-multi-select__indicator svg{
    fill: var(--acent-color-1);
    stroke: var(--acent-color-1);
    scale: 0.8;
}

.routeSheet-zone-form-field .item-form-react-multi-select__input-container{
    display: none;
}





.routeSheet-vehicle-form,
.routeSheet-driver-form{
    width: fit-content;
    padding: 0 !important;
    height: fit-content;
    border: none !important;
}

.routeSheet-vehicle-form-field,
.routeSheet-driver-form-field{
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
}

.routeSheet-vehicle-form-label,
.routeSheet-driver-form-label{
    display: none;
}

.routeSheet-vehicle-form-field .item-form-react-select__single-value,
.routeSheet-driver-form-field .item-form-react-select__single-value{
    font-size: 11px;
    font-weight: 500;
    color: var(--acent-color-1);
    text-transform: capitalize;
}

.routeSheet-vehicle-form-field .item-form-react-select__input-container,
.routeSheet-driver-form-field .item-form-react-select__input-container{
    margin: 0 2px;
}

.routeSheet-vehicle-form-field .item-form-react-select__control,
.routeSheet-driver-form-field .item-form-react-select__control{
    min-width: 110px;
    height: 28px;
    min-height: 0;
    border: solid 1.5px;
    border-radius: 6px !important;
    color: var(--acent-color-1);
    background: transparent;
}

.routeSheet-vehicle-form-field .item-form-react-select__control:hover,
.routeSheet-driver-form-field .item-form-react-select__control:hover{
    border-color: var(--acent-color-1);
    opacity: 0.8;
}

.routeSheet-vehicle-form-field .css-b62m3t-container,
.routeSheet-driver-form-field .css-b62m3t-container{
    margin: 0;
}

.routeSheet-vehicle-form-field .item-form-react-select__indicator svg,
.routeSheet-driver-form-field .item-form-react-select__indicator svg{
    fill: var(--acent-color-1);
    scale: 0.8;
}

.routeSheet-vehicle-form-field .item-form-react-select__indicator-separator,
.routeSheet-driver-form-field .item-form-react-select__indicator-separator{
    display: none;
}

.routeSheet-vehicle-form-field .item-form-react-select__placeholder,
.routeSheet-driver-form-field .item-form-react-select__placeholder{
    color: var(--acent-color-1);
    font-size: 11px;
    font-weight: 500;
}

.routeSheet-vehicle-form-field .css-1rkkobx-control,
.routeSheet-driver-form-field .css-1rkkobx-control{
    box-shadow: none !important;
}