.route-sheet-page-header{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.routeSheet-form{
    background: var(--bg-color-3);
    border: solid 1.5px var(--bg-color-2);
    padding: 30px;
    border-radius: 12px;
}

.routeSheet-form-header-container{
    display: flex;
    justify-content: space-between;
}


.routeSheet-form-header-content{
    display: flex;
    gap: 20px;
}

.routeSheet-form-header-content select{
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color-3);
    width: fit-content;
    min-width: 110px;
    height: 28px;
    border: solid 1.5px;
    border-radius: 6px;
    padding-left: 10px;
}

.routeSheet-form-notes{
    display: block;
}

.routeSheet-form-notes textarea{
    width: 100%;
    height: 94px;
    min-height: 30px;
    border: solid 1px var(--bg-color-2);
    border-radius: 7px;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-1);
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 3px;
}

.routeSheet-form-notes label{
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color-1);
    display: block;
}

.routeSheet-form-button-submit{
    justify-self: end;
}


.routeSheet-form .table-container{
    border: none;
}


.routeSheet-form .table-tr :nth-child(1){
    width: 15px;
}

.routeSheet-form-date-wrapper{
    align-items: center;
    gap: 5px;
    height: 28px;
    padding: 7px 10px;
    background: #E7E5FF;
    border-radius: 6px;
    display: flex;
}

.routeSheet-form-date-display{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-1);
}

.routeSheet-form-date-selector{
    font-size: 0;
}