.orderPayment-table-container,
.orderPayment-summary {
  width: 100% !important;
  padding-right: 0 !important;
}

.orderPayment-content {
  flex-direction: column;
}

.orderPayment-modal-subtitle {
  color: var(--text-color-3);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.orderPayment-wrapper {
  width: 1100px;
}

.orderPayment-summary {
  margin-top: 30px;
}

.orderPayment-actions {
  align-content: center;

}

.orderPayment-summary-data {
  display: flex;
  gap: 20px;
  color: var(--text-color-3);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 12px;
}