.new-order{
    background: var(--bg-color-3);
    border-radius: 12px;
    border: solid 1.5px var(--bg-color-2);
    padding: 30px;
}

.new-order .form{
    border: none;
    padding: 20px 0; 
}
 
.new-order legend{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color-3);
}

.order-section .form-actions {
    justify-content: end;
}