@import "tailwindcss";

.page-container{
  @apply p-4 relative overflow-hidden min-h-[500px] h-[100%];
  
}

.page-content{
  @apply absolute top-0 left-0 w-full transition-transform duration-500 ease-in-out z-10 bg-[#F5F6FA];

}

.page-title{
  @apply mb-4;
  font-size: 20px;
  font-weight: 500;

}

.page-header{
  @apply flex justify-between items-center mb-4;

}

.page-header-div-2{
  display: flex;
  gap: 15px;
}

.page-filter-button{
  @apply px-4 py-2 rounded flex items-center gap-2;
  font-size: 11px;
  font-weight: 600;
  color: var(--text-color-2);
  height: 28px;
  width: 101px;
  background: var(--acent-color-1);
  border-radius: 6px;
}

.page-filter-button:hover{
  opacity: 0.8;
}

.page-filter-button-icon{
  @apply w-5 h-5;
}

.page-new-button{
  @apply px-4 py-2 rounded flex items-center;
  font-size: 11px;
  font-weight: 600;
  color: var(--text-color-2);
  width: 115px;
  height: 28px;
  padding: 0px;
  background: var(--acent-color-2);
  border-radius: 6px;
  padding: 5px;
}

.page-new-button:hover{
  opacity: 0.8;
}

.page-new-button-icon{
  width: 17px;
  height: 17px;

}

.page-pagination{
  @apply flex justify-between items-center mt-4;
  margin-top: 15px;
}

.page-pagination-legend{
  font-size: 12px;
  font-weight: 200;
  color: var(--text-color-1);
  margin-left: 20px;
}

.page-pagination-controls{
  @apply flex space-x-1;
  background: var(--bg-color-3);
  border: solid 1px var(--bg-color-2);
  border-radius: 3px;
  padding: 2px;

}

.page-pagination-button{
  font-size: 13px;
  padding: 3px 13px;
  border-radius: 3px;
}


.page-pagination-button-next,
.page-pagination-botton-prev{
  color: white;
  background: var(--acent-color-1);
  border-radius: 3px;
  font-size: 13px;
  padding: 3px 13px;
}

.page-pagination-button-next:hover,
.page-pagination-botton-prev:hover{
  opacity: 0.8;
}

.form-container{
  @apply absolute top-0 left-0 w-full transition-transform duration-500 ease-in-out;

}

.form-wrapper{
  @apply p-6 h-full flex flex-col bg-white shadow-lg;

}

.form-header{
  @apply flex justify-between items-center mb-4;

}

.form-title{
  @apply text-xl font-bold;

}

.form-close-button{
  @apply text-gray-500 hover:text-gray-700 text-2xl;
}

