@import "tailwindcss";

.page-container{
  @apply relative overflow-hidden min-h-[500px] h-[100%];
}

.page-content{
  @apply absolute top-0 left-0 w-full transition-transform duration-500 ease-in-out z-10;
  background: var(--bg-color-1);
  height: 100%;
  
}

.page-content,
.form-container{
  overflow: overlay;
  max-height: 100%;
  padding-bottom: 80px;
  padding-top: 2rem;
}

.page-title{
  @apply mb-4;
  font-size: 20px;
  font-weight: 500;

}

.page-header{
  @apply flex justify-between items-center mb-4;

}

.page-header-div-2{
  display: flex;
  gap: 15px;
  align-items: center;
}

.page-filter-button{
  @apply px-4 py-2 rounded flex items-center gap-2;
  font-size: 11px;
  font-weight: 600;
  color: var(--text-color-2);
  height: 28px;
  width: 101px;
  background: var(--acent-color-1);
  border-radius: 6px;
}

.page-filter-button:hover{
  opacity: 0.8;
}

.page-filter-button-icon{
  @apply w-5 h-5;
}

.page-new-button{
  @apply px-4 py-2 rounded flex items-center;
  font-size: 11px;
  font-weight: 600;
  color: var(--text-color-2);
  width: 115px;
  height: 28px;
  padding: 0px;
  background: var(--acent-color-2);
  border-radius: 6px;
  padding: 5px;
}

.page-new-button:hover{
  opacity: 0.8;
}

.page-new-button-icon{
  width: 17px;
  height: 17px;

}

.form-container{
  @apply absolute top-0 left-0 transition-transform duration-500 ease-in-out;
  width: 100%;
}

.form-wrapper{
  @apply h-full flex flex-col;

}

.form-header{
  display: flex;
  align-items: center;
  margin-bottom: 30px;

}

.form-title{
  font-size: 20px;
  font-weight: 400;
}

.form-close-button{
  display: flex;
  align-items: center;
  padding: 0px;
  margin-right: 5px;
}

.page-title-switch-status{
  font-size: 11px;
  color: var(--text-color-3);
  font-weight: 600;
  margin-right: 14px;
}

.page-switch-container{
  display: flex;
  align-items: center;
}

.page-action-button{
    color: var(--text-color-2);
    background: var(--acent-color-1);
    font-size: 11px;
    font-weight: 600;
    width: fit-content;
    height: 28px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0.6em 3em;
}