.dashboard-layout {
    display: flex;
    height: 100vh;
  }

  .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E6E6E6;
  }

  .logo{
    width: 93px;
  }
  
  .sidebar {
    width: 250px;
    background-color: #FFFFFF;
    color: #0C1421;
    padding-bottom: 1rem;
    height: 100%;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #E6E6E6;
  }
  
  .sidebar a {
    font-size: 13px;
    font-weight: 400;
    color: #0C1421;
    text-decoration: none;
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
  }
  
  .sidebar a.active {
    background: #F8F8F8;
    border-left: 8px solid #403A92;
  }
  
  .sidebar a img{
    margin-right: 0.7rem;
  }

  .content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
  }
  