@import "tailwindcss";

.addItem-container{
    margin-bottom: 40px;
}

.addItem-button{
    color: var(--text-color-2);
    background: var(--acent-color-1);
    font-size: 11px;
    font-weight: 600;
    width: 129px;
    height: 28px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addItem-title{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color-3);
    margin-bottom: 13px;
}

.addItem-dropdown {
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
    border: solid 1px var(--bg-color-2);
    border-radius: 0 0 7px 7px;
    border-top: none;
    margin: 0;
    padding: 0;
    list-style: "none";
    max-height: 200px;
    overflow-y: auto;
    width: 506px;
    padding-top: 10px;
    transform: translate(0px, -10px);
}
.addItem-dropdown li:hover {
  background: #f5f5f5;
}

.addItem-search-container{
    display: flex;
}

.addItem-quantity-input{
    width: 129px;
    border: solid 1px var(--bg-color-2)!important; 
    border-radius: 6px;
    font-size: 12px;
    height: 28px;
    padding: 0 7px;
}

.addItem-quantity-label{
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color-1);
    margin-left: 25px;
}