@import "tailwindcss";

.table-container{
    @apply overflow-x-auto;
}

.table{
    @apply min-w-full border border-gray-300;
}

.table-thead{
    @apply bg-gray-100;
}

.table-th{
    @apply px-4 py-2 text-left;
    justify-items: center;
}

.table-span{
    @apply flex items-center;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color-1);
}

.table-th-acciones{
    @apply px-4 py-2 text-left;
    display: none;
}

.table-tr{
    @apply border-t border-gray-200;
}

.table-td-1{
    @apply px-4 py-2;
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color-1);
    text-transform: capitalize;
    text-align: center;
}

.table-td-2{
    @apply px-4 py-2 space-x-2;
}

