@import "tailwindcss";

.modal-container{
    @apply fixed inset-0 flex items-center justify-center z-15; 
    background: rgb(0 0 0 / 80%);
}

.modal-wrapper{
    background: var(--bg-color-3);
    border-radius: 10px;
    padding: 25px 50px;
    width: 862px;
    min-height: 359px;
}

.modal-header{
    @apply flex justify-between items-center mb-4;
}

.modal-title,
.modal-items-list-container h3{
    color: var(--text-color-3);
    font-size: 16px;
    font-weight: 600;
}

.modal-items-list-container h3{
    margin-bottom: 10px;
}

.modal-button-close{
    padding: 0;
}

.modal-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: start;
}

.modal-content div {
    width: 25%;
    padding-right: 3%;
    margin-bottom: 30px;
}

.modal-label{
    font-size: 13px;
    font-weight: 500;
}

.modal-label-value{
    font-size: 12px;
    font-weight: 400;
}

.modal-items-list-container{
    margin-top: 20px;
}