@import "tailwindcss";

.modal-container{
    @apply fixed inset-0 z-50 flex items-center justify-center;
    background: black 0.5;
}

.modal{
    @apply bg-white rounded shadow-lg p-6 w-full max-w-sm;
}

.modal-title{
    @apply text-lg font-bold mb-4 text-red-600 capitalize;
}

.modal-legend-1{
    @apply mb-2;
}

.modal-legend-2{
    @apply mb-6;
}

.modal-actions{
    @apply flex justify-end gap-2;
}

.modal-button-cancel{
    @apply px-4 py-2 rounded bg-gray-200 hover:bg-gray-300 text-gray-700;
}

.modal-button-delete{
    @apply px-4 py-2 rounded bg-red-500 hover:bg-red-600 text-white capitalize;
}