@import "tailwindcss";

.search-bar{
    @apply relative w-full;
    width: fit-content;
    display: flex;
    z-index: 11;
}

.search-bar-input{
    @apply border px-3 py-2 rounded w-full pr-10 focus:outline-none;
    width: 475px;
    height: 28px;
    border: solid 1.5px var(--bg-color-2);
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    font-size: 11px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    padding-left: 16px;
}

.search-bar-img{
    @apply pointer-events-none;
    width: 34px;
    height: 28px;
    transform: translate(-3px, 0px);

}

