.switch-container{
  display: flex;
  align-items: center;
  gap: 12px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}
.switch input { display: none; }
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #c7c7cc;
  transition: .4s;
  border-radius: 5.5px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10.5px; width: 10.5px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--acent-color-1);
}
input:checked + .slider:before {
  transform: translateX(16px);
}