.tab-container {
  display: flex;
  gap: 0;
}

.tab-button {
  font-size: 14px;
  padding: 4px 36px;
  background: none;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: border-bottom 0.2s, font-weight 0.2s;
}

.tab-button.active {
  border-radius: 6px;
  color: var(--text-color-2);
  background: var(--acent-color-1);
}