.vehicleUsers-actions-container {
    background: var(--bg-color-3);
    border-radius: 12px;
    border: solid 1.5px var(--bg-color-2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 50px;
}

.vehicleUsers-new-button {
    align-self: flex-end;
}

.vehicleUsers-actions-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.vehicleUsers-title {
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color-3);
    margin-bottom: 13px;
}

.vehicle-users-list {
    width: 100%;
}