@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0C1421;
  background-color: #F5F6FA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color-1: #F5F6FA;
  --bg-color-2: #DDDDDD;
  --bg-color-3: #FFFFFF;
  --text-color-1: #0C1421;
  --text-color-2: #FFFFFF;
  --text-color-3: #403A92;
  --acent-color-1: #403A92;
  --acent-color-2: #7167FF;
  --acent-color-3: #B20000;

}

a {
  font-weight: 500;
  color: var(--text-color-1);
  text-decoration: inherit;
}
a:hover {
  opacity: 0.8;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
  filter: brightness(1.2);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    opacity: 0.8;
  }
  button {
    background-color: #f9f9f9;
  }
}

.error-message{
  color: var(--acent-color-3);
  margin-top: 15px;
}